/* 
1. Posicionamiento
2. Modelo de Caja
3. Tipografía
4. Temas Visuales
5. Otros
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
